<header>
  <h1><%= @mechanic.name %></h1>
  <p><%= @mechanic.years_experience %></p>
</header>
<div id="mechanic-rides">
  <p>Current rides they're working on:</p>
  <ul>
  <% @mechanic.rides.by_name.each do |ride| %>
    <li>
      <%= ride.name %>
    </li>
  <% end %>
  </ul>
</div>
<body>
  <%= form_tag "/mechanics/#{@mechanic.id}", method: :patch do %>
    <%= label_tag "ride_id" %>
    <%= text_field_tag :ride_id %>

    <%= submit_tag 'Submit' %>
  <% end %>
</body>
