<header>
  <h1><%= @mechanic.name %></h1>
  <p><%= @mechanic.years_experience %></p>
</header>
  <% @mechanic.rides.each do |ride| %>
    <%= ride.name %>
  <% end %>
<body>
  <%= form_tag "/mechanics/#{@mechanic.id}", method: :patch do %>
    <%= label_tag "ride_id" %>
    <%= text_field_tag :ride_id %>

    <%= submit_tag 'Submit' %>
  <% end %>
</body>
